/* Ramal 1 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    .second-first{

    font-family: 'Roboto slab ', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
}



.second-header {
    width: 112px;
    height: 66px;
margin-top: 21px;
margin-left: 122px;

}


.second-course {
    display: flex;

    align-items: center;
    padding: 60px 115px;
    
}

.second-course-text {
    max-width: 628px;
}

.second-course-info {
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.second-course-info div {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #333;
}

.second-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 101.4%;
    margin-bottom: 20px;
    font-family: 'Roboto Slab';
}

.second-subtitle {
    font-size: 20px;
   line-height: 150%;
}
.second-course-image{
margin-top: 75px;
    margin-left: 80px;
}
.second-course-image img {
    width: 304px;
    height: 356px;
    margin-left: 140px;
}


.second-quote-section {
    display: flex;
    justify-content: flex-start;
    padding-top: 19.26px;
    padding-right: 26.03px;
}

.second-quote-box {
    background-color: #1c4a7e;
    color: white;
    border-radius: 6px;
    max-width: 380px;
    padding: 19.26px 27.02px 2px 26.03px;
    width: 600px;
    height: 180px;
    margin-left: 435.42px;
    margin-top: 50px;
}

.second-quote-text {
    font-size: 25px;
    line-height: 130%;
    width: 430.59px;
    height: 100px;
   
}

.second-author {
    font-size: 20px;
    text-align: right;
}   

@media (max-width: 991px) {
    .second-course {
        flex-direction: column;
        text-align: center;
    }

    .second-course-image img {
        margin-top: 30px;
    }

    .second-quote-section {
        justify-content: center;
    }
}









































































































































/* Sevgi 1 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.camera-all {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* padding: 5vw; */
  width: 100%;
  height: auto;
}

.camera-main1 {
  display: flex;
  justify-content: space-around;
}

.camera-txt {
  width: 43vw;
  font-size: 1.6vw;
  font-weight: 330;
  line-height: 150%;
}

.camera-txt2 {
  padding-bottom: 2vw;
}

h1 {
  font-size: 3.8vw;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  padding-bottom: 3vw;
  /* padding-left: 121px; */
  /* width: 365px; height: 93px; */
}

.camera-main1 img {
  width: 23vw;
  padding-top: 10vw;
}

.camera-bottom {
  display: flex;
  padding: 8vw;
  /* justify-content: space-evenly; */
}

.camera-bottom img {
  width: 15vw;
}

.camera-main2 {
  display: flex;
  align-items: center;
  padding-left: 8vw;
  gap: 4vw;
}

.camera-main2 p {
  width: 10vw;
  font-size: 1.2vw;
  font-weight: 410;
}

span {
  display: inline-block;
  font-size: 1.7vw;
  font-weight: 700;
  padding-bottom: 1vw;
}

/* Media hissəsi komp üçün */
@media screen and (min-width:1024px) and (max-width:2100px) {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .camera-all {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* padding: 5vw; */
    width: 100%;
    height: auto;
  }

  .camera-main1 {
    display: flex;
    justify-content: space-around;
  }

  .camera-txt {
    width: 43vw;
    font-size: 1.6vw;
    font-weight: 330;
    line-height: 150%;
  }

  .camera-txt2 {
    padding-bottom: 2vw;
  }

  h1 {
    font-size: 3.8vw;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    padding-bottom: 3vw;
    /* padding-left: 121px; */
    /* width: 365px; height: 93px; */
  }

  .camera-main1 img {
    width: 23vw;
    padding-top: 10vw;
  }




  .camera-bottom {
    display: flex;
    padding: 8vw;
    /* justify-content: space-evenly; */
  }

  .camera-bottom img {
    width: 15vw;
  }

  .camera-main2 {
    display: flex;
    align-items: center;
    padding-left: 8vw;
    gap: 4vw;
  }

  .camera-main2 p {
    width: 10vw;
    font-size: 1.2vw;
    font-weight: 410;
  }

  span {
    display: inline-block;
    font-size: 1.7vw;
    font-weight: 700;
    padding-bottom: 1vw;
  }




}

/* Media hissəsi planşet üçün */
@media screen and (min-width:601px) and (max-width:1024px) {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .camera-all {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* padding: 5vw; */
    width: 100%;
    height: auto;
  }

  .camera-main1 {
    display: flex;
    justify-content: space-around;
  }

  .camera-txt {
    width: 43vw;
    font-size: 1.6vw;
    font-weight: 330;
    line-height: 150%;
  }

  .camera-txt2 {
    padding-bottom: 2vw;
  }

  h1 {
    font-size: 3.8vw;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    padding-bottom: 3vw;
    /* padding-left: 121px; */
    /* width: 365px; height: 93px; */
  }

  .camera-main1 img {
    width: 23vw;
    padding-top: 10vw;
  }




  .camera-bottom {
    display: flex;
    padding: 8vw;
    /* justify-content: space-evenly; */
  }

  .camera-bottom img {
    width: 15vw;
  }

  .main2 {
    display: flex;
    align-items: center;
    padding-left: 8vw;
    gap: 4vw;
  }

  .camera-main2 p {
    width: 10vw;
    font-size: 1.2vw;
    font-weight: 410;
  }

  span {
    display: inline-block;
    font-size: 1.7vw;
    font-weight: 700;
    padding-bottom: 1vw;
  }
}

/* Media hissəsi telefon üçün */
@media screen and (min-width:300px) and (max-width:600px) {
  .camera-txt {
    width: 74vw;
    font-size: 3vw;
    font-weight: 330;
    line-height: 150%;

  }

  h1 {
    font-size: 6vw;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    padding-bottom: 3vw;
    /* padding-left: 121px; */
  }


  .camera-main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around;  */
    /* flex-wrap: wrap; */
  }

  .camera-main1 img {
    width: 41vw;
  }

  .camera-bottom img {
    display: none;
  }

  .camera-main2 {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* padding-left: 8vw; */
    gap: 4vw;

  }

  .camera-main2 div:nth-child(3) {
    flex-basis: 100%;

  }

  .camera-main2 p {
    width: 18vw;
    font-size: 2.2vw;
    font-weight: 410;
  }

  span {
    display: inline-block;
    font-size: 2.9vw;
    font-weight: 700;
    padding-bottom: 1vw;
  }

}
/* İnci 1 */

.all-h1 {
    /* width:667px;
    height:93px; */
    font-family: Roboto Slab;
    font-size: 3vw;
    font-weight: 700;
    color: #000000;
    margin-left: 5vw;
    font-family: "Roboto Slab";
}

.all-new {
    margin-top: 5vw;
    margin-left: 5vw;
    justify-content: space-between;
    display: flex;
}

.all {
    width: 80vw;
    gap: 33%;
    font-family: "Roboto";
}

.all-color {
    color: #1E4681;
    font-weight: bold;
    font-size: 1.5vw;
}

.all-size {
    margin-top: 8vw;
    font-family: "Roboto";
}

.all-table {
    margin-left: 3.5vw;
    font-size: 1, 2vw;
    padding-top: 3vw;

}

#all-o {
    margin-left: 5vw;
    font-family: "Roboto Slab";
    color: #000000;
    font-weight: 700;
    margin-bottom: 0vw;
    font-size: 3vw;
}

.all-pi {
    font-size: 1.2vw;
}

.all-i {
    width: 75%;
    height: 100%;
}

.all-im {
    padding: 0.5vw 3vw;
}



@media screen and (min-width:300px) and (max-width:600px) {
    .all-h1 {
        /* width:667px;
    height:93px; */
        font-family: Roboto Slab;
        font-size: 3vw;
        font-weight: 700;
        color: #000000;
        margin-left: 5vw;
        font-family: "Roboto Slab";
    }

    .all-new {
        margin-top: 5vw;
        margin-left: 5vw;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .all {
        width: 80vw;
        gap: 33%;
        font-family: "Roboto";
    }

    .all-color {
        color: #1E4681;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .all-size {
        margin-top: 8vw;
        font-family: "Roboto";
    }

    .all-table {
        /* margin-left: 3.5vw; */
        font-size: 1vw;
        /* padding-top: 3vw;
    padding-left: 0vw; */
        padding: 0vw;
    }

    #all-o {
        margin-left: 5vw;
        font-family: "Roboto Slab";
        color: #000000;
        font-weight: 700;
        margin-bottom: 0vw;
        font-size: 3vw;
    }

    .all-pi {
        font-size: 1.2vw;
    }

    .all-i {
        width: 75%;
        height: 100%;
    }

    .all-im {
        padding: 1vw 3vw;
    }
}

@media screen and (min-width:601px) and (max-width:1024px) {
    .all-h1 {
        /* width:667px;
    height:93px; */
        font-family: Roboto Slab;
        font-size: 3vw;
        font-weight: 700;
        color: #000000;
        margin-left: 5vw;
        font-family: "Roboto Slab";
    }

    .all-new {
        margin-top: 5vw;
        margin-left: 5vw;
        justify-content: space-between;
        display: flex;
    }

    .all {
        width: 80vw;
        gap: 33%;
        font-family: "Roboto";
    }

    .all-color {
        color: #1E4681;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .all-size {
        margin-top: 8vw;
        font-family: "Roboto";
    }

    .all-table {
        margin-left: 3.5vw;
        font-size: 1vw;
        padding-top: 3vw;

    }

    #all-o {
        margin-left: 5vw;
        font-family: "Roboto Slab";
        color: #000000;
        font-weight: 700;
        margin-bottom: 0px;
        font-size: 3vw;
    }

    .all-pi {
        font-size: 1.2vw;
    }

    .all-i {
        width: 75%;
        height: 100%;
    }

    .all-im {
        padding: 0.5vw 3vw;
    }
}

@media screen and (min-width:1024px) and (max-width:2100px) {
    .all-h1 {
        /* width:667px;
    height:93px; */
        font-family: Roboto Slab;
        font-size: 3vw;
        font-weight: 700;
        color: #000000;
        margin-left: 5vw;
        font-family: "Roboto Slab";
    }

    .all-new {
        margin-top: 5vw;
        margin-left: 5vw;
        justify-content: space-between;
        display: flex;
    }

    .all {
        width: 80vw;
        gap: 33%;
        font-family: "Roboto";
    }

    .all-color {
        color: #1E4681;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .all-size {
        margin-top: 8vw;
        font-family: "Roboto";
    }

    .all-table {
        margin-left: 3.5vw;
        font-size: 1, 2vw;
        padding-top: 3vw;

    }

    #all-o {
        margin-left: 5vw;
        font-family: "Roboto Slab";
        color: #000000;
        font-weight: 700;
        margin-bottom: 0vw;
        font-size: 3vw;
    }

    .all-pi {
        font-size: 1.2vw;
    }

    .all-i {
        width: 75%;
        height: 100%;
    }

    .all-im {
        padding: 0.5vw 3vw;
    }
}












































































































































































































































/* Ayxan */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (min-width: 600px) and (max-width: 2100px) {

    body {
        font-family: "Roboto", sans-serif;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    h1,
    h2 {
        font-family: "Roboto Slab", serif;
    }

    /* Card hissəsi */
    .card {
        width: 26.18vw;
        height: 21.466vw;
        border-top-left-radius: 3.273vw;
        border-top-right-radius: 3.273vw;
        border-bottom-left-radius: 1.9634vw;
        border-bottom-right-radius: 1.9634vw;
        box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.25);

    }

    .card-head {
        margin: 0 0 7.8552vw 3.273vw;
        font-size: 3.6vw;
    }

    .card-img {
        border-top-left-radius: 1.9634vw;
        border-top-right-radius: 1.9634vw;
        width: 100%;
        height: 47.78%;
    }

    .card-h {
        margin: 0.65445vw 0 0 1.3089vw;
        font-size: 2.09vw;;
        line-height: 97%;
    }


    .card-p {
        font-size: 1.736vw;
        margin: 2vw 0 0 1.3089vw;
        line-height: 130%;
    }

    .card-last{
        margin-top: 0.5vw;
    }

    .cards-everything {
        margin: 16.6vw auto 6.94vw;
        width: 90vw;
    }


    .all-cards {
        height: 70vw;
        column-gap: 2.09%;
        row-gap: 4%;
        display: grid;
        grid-template-areas:
            "a b c"
            "d e f"
            "g h ."
        ;
    }

    .a {
        grid-area: a;
    }

    .b {
        grid-area: b;
    }

    .c {
        grid-area: c;
    }

    .d {
        grid-area: d;
    }

    .e {
        grid-area: e;
    }

    .f {
        grid-area: f;
    }

    .g {
        grid-area: g;
    }

    .h {
        grid-area: h;
    }

}

@media screen and (min-width: 300px) and (max-width: 600px) {

    body {
        font-family: "Roboto", sans-serif;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    h1,
    h2 {
        font-family: "Roboto Slab", serif;
    }

    /* Card hissəsi */
    .card {
        width: 49.55vw;
        height: 40.74vw;
        border-top-left-radius: 4vw;
        border-top-right-radius: 4vw;
        border-bottom-left-radius: 4vw;
        border-bottom-right-radius: 4vw;
        box-shadow: 0.1vw 0.1vw 2vw 0 rgba(0, 0, 0, 0.25);

    }

    .card-head {
        margin: 0 0 13vw 3.7vw;
        font-size: 6.93vw;
    }

    .card-img {
        width: 100%;
        height: 47.78%;
    }

    .card-h {
        margin: 1.4vw 0 0 2.49vw;
        font-size: 3.732vw;
        line-height: 97%;
    }


    .card-p {
        font-size: 3.2vw;
        margin: 5vw 0 0 2.35vw;
        line-height: 130%;
    }

    .cards-everything {
        margin: 16.6vw auto 6.94vw;
        height: 400vw;
        width: 90vw;
    }

    .card-last{
        margin-top: 1.07vw
    }

    .all-cards {
        height: 70vw;
        row-gap: 6.4vw;
        display: grid;
        justify-content: center;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h"
        ;
    }

    .a {
        grid-area: a;
    }

    .b {
        grid-area: b;
    }

    .c {
        grid-area: c;
    }

    .d {
        grid-area: d;
    }

    .e {
        grid-area: e;
    }

    .f {
        grid-area: f;
    }

    .g {
        grid-area: g;
    }

    .h {
        grid-area: h;
    }

}





/* Ramal 2 */
* {
    padding: 0;
    margin: 0;
}

.firstkurs {
    width: 100vw;
    min-height: 54.16vw; 
    background-color: #EFEFEF;
    height: 38.54vw; 
    padding-left: 5.97vw;
    padding-top: 3.95vw; 
}

.firstkurstext {
    font-size: 3.96vw; 
    font-weight: 550;
    font-family: 'Roboto Slab', serif;
}

.firstkurs2 {
    background-color: white;
    width: 49.30vw; 
    height: 29.86vw; 
    margin-top: 2.99vw; 
    box-shadow: 0px 0.21vw 0.97vw rgba(0, 0, 0, 0.50); 
    border-radius: 2.5vw; 
    padding-left: 2.99vw; 
    padding-top: 2.99vw; 
    
    padding-right: 1.46vw; 
}

.firstimg1 {
    width: 12.5vw; 
    height: 12.5vw; 
}

.firsttext01 {
    padding: 0;
    font-size: 1.39vw; 
    font-style: bold;
    font-weight: 400;
    font-family: 'Roboto', serif;
    line-height: 150%; 
    letter-spacing: 0%;
}

.firstfacebook {
    display: flex;
    align-items: center;
    margin-top: 2.5vw; 
}

.firsttext02 {
    width: 24.65vw; 
    height: 2.92vw; 
    font-size: 1.94vw;
    font-style: bold;
    font-weight: 800;
    margin-left: 1.46vw; 
    font-family: 'Roboto Slab';
}

.firstimg2 {
    width: 2.5vw; 
    height: 2.01vw; 
    margin-left: 1.46vw; 
    margin-top: 0.97vw; 
}    
 @media (min-width: 992px) and (max-width: 1279px) {
  


* {
    padding: 0;
    margin: 0;
}

.firstkurs {
    width: 100vw;                
    height: 54.18vw;               
    background-color: #EFEFEF;
    padding-left: 8.47vw;          
    padding-top: 6.32vw;         
}

.firstkurstext {
    width: 68.55vw;               
    height: 6.46vw;               
    font-size: 3.83vw;             
    font-weight: 550;
    font-family: 'Roboto Slab', serif;
}

.firstkurs2 {
    background-color: white;
    width: 48vw;                
    height: 31.32vw;               
    margin-top: 2.36vw;            
    box-shadow: 0px 0.21vw 0.97vw rgba(0, 0, 0, 0.50); 
    border-radius: 2.5vw; 
    padding-left: 3.12vw;         
    padding-top: 2.78vw;           
    padding-right: 3.19vw;         
}

.firstimg1 {
    width: 13.19vw;               
    height: 11.73vw;              
}

.firsttext01 {
    width: 48.59vw;                
    height: 14.09vw;               
    padding: 0;
    font-size: 1.44vw;             
    font-style: bold;
    font-weight: 400;
    font-family: 'Roboto', serif;
    line-height: 150%;
    letter-spacing: 0%;
}

.firstfacebook {
    display: flex;
    align-items: center;
    margin-top: 0.73vw;           
}

.firsttext02 {
    width: 24.51vw;                
    height: 4.09vw;              
    font-size: 2.04vw;          
    font-style: bold;
    font-weight: 800;
    margin-left: 2.03vw;          
    font-family: 'Roboto Slab';
}

.firstimg2 {
    width: 2.22vw;                 
    height: 2.15vw;                
    margin-left: 2.08vw;          
} 
}


@media (max-width: 991px) {



* {
    padding: 0;
    margin: 0;
}

.firstkurs {
    width: 100vw;                 
    height: 112.5vw;             
    background-color: #EFEFEF;
    padding-left: 9.57vw;        
    padding-top: 7.45vw;         
}

.firstkurstext {
    width: 68.35vw;              
    height: 18.35vw;           
    font-size: 6.91vw;           
    font-weight: 550;
    font-family: 'Roboto Slab', serif;
}

.firstkurs2 {
    background-color: white;
    width: 71.8vw;                
    height: 65.96vw;            
    margin-top: 2.93vw;           
    box-shadow: 0px 0.21vw 0.97vw rgba(0, 0, 0, 0.50); 
    border-radius: 2.5vw;
    padding-left: 5.05vw;        
    padding-top: 4.91vw;       
    padding-right: 6.12vw;      
}

.firstimg1 {
    width: 21.28vw;             
    height: 22.34vw;            
}

.firsttext01 {
    width: 70.74vw;             
    height: 29.54vw;            
    padding: 0;
    font-size: 2.66vw;      
    font-style: bold;
    font-weight: 400;
    font-family: 'Roboto', serif;
    line-height: 150%;
    letter-spacing: 0%;
}

.firstfacebook {
    display: flex;
    align-items: center;
    margin-top: 5.6vw;            
}

.firsttext02 {
    width: 43.75vw;               
    height: 8.7vw;                
    font-size: 3.72vw;           
    font-style: bold;
    font-weight: 800;
    margin-left: 3.62vw;          
    font-family: 'Roboto Slab';
}

.firstimg2 {
    width: 3.97vw;               
    height: 4.57vw;              
    margin-left: 3.62vw;          
} 
} 
























































































































































































































































/* İnci 2 */


@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
} 
.enter{
    background-color: #9DC9C8;
    width: 100vw;
    height: 70vw;
    padding: 12vw;

} 
#enter-pim{ 
    /* width:908px;
    height: 66px; */
    font-weight: 700;
    font-size: 4vw;
    font-family:"Roboto Slab";
    padding-bottom: 1vw;
    margin-top: 0;
    flex-direction: row;
    display: flex;
    
    
}
.enter-b{
    display: flex;
    gap:10%;
    margin: 0;
    padding-top: 0vw;
}
#enter-c{
    width: 35vw;
    height: 10vw; 
    font-weight: 400;
    font-size: 5vw;
    margin:0;
}
#enter-d{
    margin:0;
    font-size:2vw;

}
.enter-l{
   font-size:1.5vw;
}
.enter-im{
    height: 100vw;
    width:5vw;
} 



@media screen and (min-width:300px) and (max-width:600px){
    body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
} 
.enter{
    background-color: #9DC9C8;
    width: 100vw;
    height: 70vw;
    padding: 14vw 8vw;

} 
#enter-pim{ 
    /* width:908px;
    height: 66px; */
    font-weight: 700;
    font-size: 6vw;
    font-family:"Roboto Slab";
    padding-bottom: 1vw;
    margin-top: 0;
    flex-direction: column;
    display: flex; 
}
.enter-b{
    display: flex;
    gap:10%;
    margin: 0;
    padding-top: 0vw;
}
#enter-c{
    width: 35vw;
    height: 10vw; 
    font-weight: 400;
    font-size: 6vw;
    margin:0;
}
#enter-d{
    margin:0;
    font-size:2.5vw;

}
.enter-l{
   font-size:2.5vw;
}
.enter-im{
    height: 100vw;
    width:5vw;
} 
.enter-lim{
    font-size: 2vw;
}
.enter-r{
    flex-direction: column;
}

}
@media screen and (min-width:601px) and (max-width:1024px){
    body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
} 
.enter{
    background-color: #9DC9C8;
    width: 100vw;
    height: 70vw;
    padding: 14vw 10vw;

} 

.enter-lim {
        font-size: 2vw;
}    
.enter-l {
    font-size: 2.5vw;
}
#enter-pim{ 
    /* width:908px;
    height: 66px; */
    font-weight: 700;
    font-size: 4vw;
    font-family:"Roboto Slab";
    padding-bottom: 1vw;
    margin-top: 0;
    
}
.enter-b{
    display: flex;
    gap:10%;
    margin: 0;
    padding-top: 0vw;
}
#enter-c{
    width: 35vw;
    height: 10vw; 
    font-weight: 400;
    font-size: 5vw;
    margin:0;
}
#enter-d{
    margin:0;
    font-size:2vw;

}
.enter-l{
   font-size:2.5vw;
}
.enter-im{
    height: 100vw;
    width:5vw;
} 
.enter-r{
    flex-direction: row;
}


}

@media screen and (min-width:1024px) and (max-width:2100px){
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
} 
.enter{
    background-color: #9DC9C8;
    width: 100vw;
    height: 60vw;
    padding: 14vw 8vw;
} 

.enter-l {
        font-size: 2.5vw;
}
#enter-pim{ 
    /* width:908px;
    height: 66px; */
    font-weight: 700;
    font-size: 4vw;
    font-family:"Roboto Slab";
    padding-bottom: 1vw;
    margin-top: 0;
    
}
.enter-b{
    display: flex;
    gap:10%;
    margin: 0;
    padding-top: 0vw;
}
#enter-c{
    width: 35vw;
    height: 10vw; 
    font-weight: 400;
    font-size: 5vw;
    margin:0;
}
#enter-d{
    margin:0;
    font-size:2vw;

}
.enter-l{
   font-size:2.5vw;
}
.enter-im{
    height: 100vw;
    width:5vw;
} 
.enter-r{
    flex-direction: row;
}

}












































































































































































































































/* Sevgi 2 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foot-all {
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;  
    padding-top: 1vw; 
   padding-left: 8vw;
     padding-right: 7vw;  
     padding-bottom: 6vw;    
}

.foot-left {
    display: flex;
    flex-direction: column; 
    /* padding-left: 11rem; */
    gap: 2vw;
    padding-top: 2vw;
}

.foot-socialemb {
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    padding-top: 3vw;
    /* width: 10vw; */
    /* height: 20vw; */
    gap: 1.2vw;
}

.foot-socialemb img {
    /* margin-right: 1.5rem; */
    width: 2.3vw;
    /* height: 2.7rem; */
}

.foot-logo {
    width: 8vw;
    height: auto;
    margin-bottom: -3vw;
}

.foot-sinxron {
    display: flex;
    justify-content: end;
    font-size: 1.5vw;
    font-weight: 100;
    /* font-family: "Roboto", sans-serif; */
    line-height: 101%;
    padding-top: 6vw;
}

.foot-right {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: -12vw;  
     /* padding-top: 1vw;      */
}

.foot-right img {
    width: 1.8vw;
    /* height: auto; */
    margin-right: 1vw;
    margin-bottom: -0.3vw; 
}

.foot-inform{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 1.2; 
    font-weight: 370;
}


.foot-call {
    /* padding-bottom: 8vw;   */

}   
/* Media hissəsi komp üçün */
@media screen and (min-width:1024px) and (max-width:2100px) {
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foot-all {
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;  
    padding-top: 1vw; 
   padding-left: 8vw;
     padding-right: 7vw;  
     padding-bottom: 6vw;    
}

.foot-left {
    display: flex;
    flex-direction: column; 
    /* padding-left: 11rem; */
    gap: 2vw;
    padding-top: 2vw;
}

.foot-socialemb {
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    padding-top: 3vw;
    /* width: 10vw; */
    /* height: 20vw; */
    gap: 1.2vw;
}

.foot-socialemb img {
    /* margin-right: 1.5rem; */
    width: 2.3vw;
    /* height: 2.7rem; */
}

.foot-logo {
    width: 8vw;
    height: auto;
    margin-bottom: -3vw;
}

.foot-sinxron {
    display: flex;
    justify-content: end;
    font-size: 1.5vw;
    font-weight: 100;
    /* font-family: "Roboto", sans-serif; */
    line-height: 101%;
    padding-top: 6vw;
}

.foot-right {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: -12vw;  
     /* padding-top: 1vw;      */
}

.foot-right img {
    width: 1.8vw;
    /* height: auto; */
    margin-right: 1vw;
    margin-bottom: -0.3vw; 
}

.foot-inform{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 1.2; 
    font-weight: 370;
}


.foot-call {
    /* padding-bottom: 8vw;   */

}   
}
/* Media hissəsi planşet üçün */
@media screen and (min-width:601px) and (max-width:1024px) {

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foot-all {
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;  
    padding-top: 1vw; 
   padding-left: 8vw;
     padding-right: 7vw;  
     padding-bottom: 6vw;    
}

.foot-left {
    display: flex;
    flex-direction: column; 
    /* padding-left: 11rem; */
    gap: 2vw;
    padding-top: 2vw;
}

.foot-socialemb {
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    padding-top: 3vw;
    /* width: 10vw; */
    /* height: 20vw; */
    gap: 1.2vw;
}

.foot-socialemb img {
    /* margin-right: 1.5rem; */
    width: 2.3vw;
    /* height: 2.7rem; */
}

.foot-logo {
    width: 8vw;
    height: auto;
    margin-bottom: -3vw;
}

.foot-sinxron {
    display: flex;
    justify-content: end;
    font-size: 1.5vw;
    font-weight: 100;
    /* font-family: "Roboto", sans-serif; */
    line-height: 101%;
    padding-top: 6vw;
}

.foot-right {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: -12vw;  
     /* padding-top: 1vw;      */
}

.foot-right img {
    width: 1.8vw;
    /* height: auto; */
    margin-right: 1vw;
    margin-bottom: -0.3vw; 
}

.foot-inform{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 1.2; 
    font-weight: 370;
}


.foot-call {
    /* padding-bottom: 8vw;   */

}   
}   

/* Media hissəsi telefon üçün */
@media screen and (min-width:300px) and (max-width:600px) { 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foot-all {
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
    /* display: flex;  */
    justify-content: space-between;  
    padding-top: 1vw; 
   padding-left: 8vw;
     padding-right: 7vw;  
     padding-bottom: 15vw;    
}

.foot-left {
    display: flex;
    flex-direction: column; 
    /* padding-left: 11rem; */
    gap: 2vw;
    padding-top: 2vw;
}

.foot-socialemb {
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    padding-top: 3vw;
    /* width: 10vw; */
    /* height: 20vw; */
    gap: 1.2vw;
}

.foot-socialemb img {
    /* margin-right: 1.5rem; */
    width: 2.3vw;
    /* height: 2.7rem; */
}

.foot-logo {
    width: 8vw;
    height: auto;
    margin-bottom: -3vw;
}

.foot-sinxron {
    display: flex;
    justify-content: end;
    font-size: 1.5vw;
    font-weight: 100;
    /* font-family: "Roboto", sans-serif; */
    line-height: 101%;
    padding-top: 6vw;
}

.foot-right {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: -12vw;  
     /* padding-top: 1vw;      */
}

.foot-right img {
    width: 1.8vw;
    /* height: auto; */
    margin-right: 1vw;
    margin-bottom: -0.3vw; 
}

.foot-inform {
    display: inline-block;
    font-size: 1.6vw;
    line-height: 1.2; 
    font-weight: 370;
}


.foot-call {
    /* padding-bottom: 8vw;   */

}  
}}
































































































































































